<div class="background-wrapper">
    <div class="flex main-heading-wrapper">
        <h1 class="main-heading">FIND YOUR NEW BOARD,
          <br>BIKE,
          <br>BOOTS&hellip;
          </h1>
        <span class="heading-sub-text">COMPARE, FILTER AND REVIEW YOUR EXTREME SPORT PRODUCTS </span>
    </div>
</div>
