<div class="form-group" align="center">
  <a class="btn btn-block btn-social btn-facebook">
    <span class="fa fa-facebook"></span>Log in with Facebook
  </a>
  <%= link_to user_google_oauth2_omniauth_authorize_path, class: "btn btn-block btn-social btn-google-plus" do %>
    <span class="fa fa-google-plus"></span>Log in with Google
  <% end %>
</div>
