<nav class="navbar navbar-default" id="nav-filters">
      <% if user_signed_in? %>
        <ul class="nav navbar-nav nav-center">
          <li class="navbar-btn">
            <%= link_to(edit_user_registration_path, class:"btn-icon profile-icon") do %>
              <label type="text">Profile</label>
            <% end %>
          </li>
          <li class="navbar-btn">
            <%= link_to(review_users_path, class:"btn-icon reviews-icon") do %>
            <label type="text">Reviews</label>           
            <% end %>
          </li>
          <li class="navbar-btn">
            <%= link_to(photo_users_path, class:"btn-icon photos-icon") do %>
            <label type="text">Social</label>
            <% end %>
          </li>
          <li class="navbar-btn">
            <%= link_to(video_users_path, class:"btn-icon favourites-icon") do %>
            <label type="text">Favorites</label>
            <% end %>
          </li>
        </ul>
    <% end %>
</nav>
