<div id="profile">
  <div class="background-wrapper">
    <div class="flex main-heading-wrapper">
        <% picture_image = current_user.picture ? "Change your Profile image" : "Upload your Profile image" %>
      <div id="profile-card">
        <div class="user-avatar">
        <% user_avatar = image_tag(current_user.picture.url(:thumbnail), alt: "profile photo", style: "width:100%; height:100%; display:block; float:left;") if current_user.picture %>
        <%= modal_button_tag("#{user_avatar}".html_safe, modals_path(action: :add_picture), { link: true, imageable_type: "User", imageable_id: current_user.id  }) %>
        </div>
        <div class="user-info">
          <h1><%= current_user.name if current_user.name %></h1>
          <h2><%= current_user.address.city+", "+current_user.address.country if current_user.address %></h2>
          <p>Surfing the wild side of life</p>
        </div>
      </div>
    </div>
  </div>
</div>