
<div class="home-page">
  <div class="home-page-text">
    <p>Ask Pieter comes for a need we have experienced. We, as you, are extreme sport lovers, outdoor lovers, and we really hope you find this web useful.</p>
    <p>Discover the latest Photos and Videos of your Favourites Brands, and help the community by uploading yours</p>
    <a href="#"  class="shiny-button"> <strong>Register Here and Join the Community :) </strong></a> <br>
    <a href="#"  class="shiny-button"><strong> or Go and Check the latest News!</strong> </a>
    <p> You can also compare between all the products with our easy filters! <br> or look for it directly in the search bar</p> 	
    <div class="search-box col-md-12 col-sm-12">
      <%= render 'layouts/search_box' %>
    </div>
  </div>
</div>
<% content_for :messages do %>
    <%= render partial: 'layouts/messages', locals: { flash_class: 'floating' } %>
<% end %>
