<div class="background-wrapper" style="<%= sub_category_cover(@sub_category) %>">
    <%= render 'breadcrumbs' %>
    <div class="flex main-heading-wrapper">
        <span class="heading-sub-text">Use the filters to find your perfect</span>
        <h1 class="main-heading"><%= @sub_category.name.singularize %></h1>
    </div>
</div>

<div class="flex main-filters-wrapper">
  <% @categories.all.each do |category| %>
      <%= render partial: 'search/category_filter', locals: {category: category} %>
  <% end %>
</div>
