<div class="flex sort-by-panel">
  Sort by:
  <a href="#" data-field="price" data-desc="true">Price<span class="glyphicon glyphicon-triangle-bottom"></span></a>
  <a href="#" data-field="year" data-desc="false">Year<span class="glyphicon glyphicon-triangle-bottom"></span></a>
  <a href="#" data-field="rating" data-desc="false">Popularity<span class="glyphicon glyphicon-triangle-bottom"></span></a>
  <a href="#" data-field="name" data-desc="true">A-Z<span class="glyphicon glyphicon-triangle-bottom"></span></a>
</div>
