<div class="sort-by-panel">
  Sort by:
  <a href="#" data-field="price" data-desc="true">Price <span class="halflings halflings-play"></span></a>
  <a href="#">Year</a>
  <a href="#">Popularity</a>
  <a href="#">A-Z</a>
</div>
