<div class="flex sort-by-panel hidden-xs">
  Sort by:
  <a href="#" data-field="price" data-desc="false">Price<span class="glyphicon glyphicon-triangle-bottom"></span></a>
  <a href="#" data-field="year" data-desc="true">Year<span class="glyphicon glyphicon-triangle-bottom"></span></a>
  <a href="#" data-field="rating" data-desc="true">Popularity<span class="glyphicon glyphicon-triangle-bottom"></span></a>
  <a href="#" data-field="name" data-desc="false">A-Z<span class="glyphicon glyphicon-triangle-bottom"></span></a>
</div>
