@media(max-width: 769px) {

}

#guide-info {
  background-image: url(http://i.piccy.info/i9/52155b7ac6f450fd8d791d8ce9908032/1480425746/456627/1094652/goodnoob.jpg);
  position: relative;
  #guide-description {
    background-color: rgba(0,0,0,0.5);
    padding: 5%;
    width: 40%;
    color: white;
  };
};

#guide-chapters {
  background: #232323;
  display: flex;
  #guide-chapters-list {
    width: 300px;
    padding: 40px;
    background:#232323;
    text-align: right;
    color: white;
    .category-guides {
      margin-bottom: 20px;
    }
    a {
      color: white;
      font-size: .9em;
      font-weight: 700;
    };
  };
  #guide-text {
    background-color: #f0f2f6;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    h1 {
      text-align: center;
    };
  };
};