.breadcrumb.cover {
  background-color: transparent !important;
  a {
    color: #fff;
  }
  > li + li:before {
    color: #ccc;
    font-family: 'Glyphicons Halflings';
    content: "\e080";
    padding: 0 5px;
    vertical-align: middle;
  }
}

.breadcrumb {
  margin-bottom: 0;
  &:not(.cover) {
    margin-top: 50px;
  }
}

.toast-top-right {
  margin-top: 30px;
}

.body-fix {
  overflow: hidden !important;
}
.body-visible {
  overflow: visible !important;
}

select.form-control {
  box-shadow: none;
  border-radius: 0;
  padding: 0 12px;
  height: 25px;
  &:focus {
    box-shadow: none;
    border-color: rgb(204, 204, 204);
  }
  option:hover {
    background-color: gray;
  }
}
