$sidepanel-main-font: sans-serif;
$sidepanel-background: #232323;

.product-info, .product-properties-wrapper {
  overflow: hidden;
  margin: 0;

  .main-content-wrapper, .right-column {
    margin: 0;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
  }

  .side-panel-wrapper {
    bottom: 0;
    top: 0;
    //width: inherit;
    display: block;
  }

  .product-description {
    background-color: #f7f9f9;
  }

  .right-column {
    background: $sidepanel-background;
    font-family: $sidepanel-main-font;

    &.product-properties {
      background-color: #4D4D4D;
      color: white;
      padding: 15px 35px 99999px 35px;

      .row {
        margin-bottom: 10px;
        margin-left: 8px;
        font-weight: bolder;
      }

      .filter_name {
        position: relative;
        padding: 0;
        min-height: 16px;
        span {
          z-index: 2;
          background-color: #4D4D4D;
          position: absolute;
          bottom: 0;
          left: 0;
          padding-right: 5px;
        }
        .bg {
          z-index: 1;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 3px;
          border-bottom: 2px dotted white;
        }
      }

      .filter_values {
        line-height: 2em;
        margin-top: -4px;
        font-size: .85em;
      }
    }
  }
}

.product-brief {
  color: #ffffff;
  padding: 1.5em;

  p {
    padding-bottom: 0.6em;
  }
}

.product-properties-wrapper {
  background-color: #EFEFEF;
}

.product-description {
  padding: 4.5em 5em 3.5em 5em;
  color: #7a7a7a;
  background-color: #f7f9f9;
  font-size: 1.1em;
  font-weight: bold;

  p {
    padding-bottom: 2em;
  }
}

.product-reviews {
  padding: 1.5em 3em 3em;
  color: #ffffff;
  background-color: #333333;

  h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 1em;
  }

  h2 {
    font-size: 1.3em;
    font-style: italic;
    margin: 1em;
  }

  .carousel-indicators {
    bottom: -3.5em;

    li {
      width: 20px;
      height: 20px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .buttons {
    margin-top: 5.5em;
  }
}

.product-assets {
  padding: 3em;
  color: #7a7a7a;

  .main-container,
  .main-content-wrapper,
  .thumbs-matrix-wrapper {
    margin: 0;
    padding: 0;
    background-color: inherit;
  }

  .thumb-wrapper {
    background-color: #ffffff;
    .thumb-description {
      font-size: 0.8em;
      padding-top: 1.2em;
    }
  }
}

.product-photos {
  background-color: #f7f9f9;
}

.product-videos {
  background-color: #ecf0f1;

  // .thumb-wrapper,
  // .thumb-image,
  // .embed-responsive {
  //   width: auto !important;
  //   height: auto !important;
  //   box-sizing: content-box !important;
  // }
  //
  // .embed-responsive {
  //   min-width: 320px;
  // }
}

.product-details {
  background-color: #f7f9f9;

  ul.nav {
    display: inline-block;
  }

  div.tab-content {
    padding: 2em 12em 2em 12em;
    h1 {
      font-size: 1.5em;
    }
    p {
      line-height: 1.5;
    }
  }

  h1 {
    font-size: 1.8em;
    line-height: 1.2;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  h2 {
    font-size: 1.5em;
    line-height: 1.2;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  address > p {
    padding-top: 0.6em;
  }
}

.product-similars {
  background-color: #ecf0f1;
}
