<!-- FOOTER LAYOUT -->
<footer class="flex footer-wrapper">
    <div class="flex footer-mainlinks-wrapper">
        <div class="footer-termslink-wrapper">
            <%= link_to (Info::Term.first.present? ? info_term_path(Info::Term.first) : '#'), class: "footer-main-link" do  %>
                <span class="footer-terms-link">Terms</span>
            <% end %>
        </div>
        <div class="footer-faqlink-wrapper">
            <%= link_to (Info::Question.first.present? ? info_question_path(Info::Question.first) : '#'), class: "footer-main-link" do  %>
                <span class="footer-faq-link">FAQ</span>
            <% end %>
        </div>
        <div class="footer-privacylink-wrapper">
            <%= link_to (Info::Privacy.first.present? ? info_privacy_path(Info::Privacy.first) : '#'), class: "footer-main-link" do  %>
                <span class="footer-privacy-link">Privacy</span>
            <% end %>
        </div>
        <div class="footer-maplink-wrapper">
            <a class="footer-main-link" href="#"><span class="footer-map-link">Site Map</span></a>
        </div>
    </div>
    <div class="flex footer-sociallinks-wrapper">
        <div class="footer-social-element social-text-wrapper">
            <span class="social-text">We are also in:</span>
        </div>
        <div class="footer-social-element footer-twitter-wrapper">
            <a href="#" class="footer-twitter-link"></a>
        </div>
        <div class="footer-social-element footer-facebook-wrapper">
            <a href="#" class="footer-facebook-link"></a>
        </div>
        <div class="footer-social-element footer-instagram-wrapper">
            <a href="#" class="footer-instagram-link"></a>
        </div>
    </div>
</footer>
