<header>
  <div class="flex white-header-stripe">
    <div class="flex header-start">
      <div class="mobile-burger-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <%= yield(:mobile_icons) %>
    </div>

    <div class="flex header-center">
      <%= link_to image_tag("good-noob.png", alt: 'main-background', width: 48, height: 28), root_path %>
    </div>

    <div class="flex header-end">
      <% if user_signed_in? %>
          <div class="upload-btn-wrapper">
            <%= render 'layouts/upload_button' %>
          </div>
      <% end %>
      <%= render 'layouts/nav_links_for_auth' %>
    </div>
  </div>
</header>
