<div class="nav-search-icon ">
  <i class="glyphicon glyphicon-search"></i>
</div>

<div class="nav-search-form hidden w-100">
  <%= form_tag search_index_path, method: :get, class: 'w-100' do %>
    <button class="nav-search-icon b-l" type="submit">
      <i class="glyphicon glyphicon-search"></i>
    </button>
    <%= text_field_tag(:search, params[:search], class: 'nav-search-input', placeholder: t('.search')) %>
    <div class="nav-close-icon">
      <i>×</i>
    </div>
  <% end %>
</div>
