<div class="upload-btn-wrapper hidden-xs">
  <div class='dropdown'>
    <button type='button' id='upload-menu' class='upload-btn dropdown-toggle'
            data-toggle='dropdown' aria-haspopup='true' aria-expanded='true'>
      + NEW POST
    </button>

    <ul class='dropdown-menu header-side-dropdown-button' aria-labelledby='upload-menu'>
      <li>
        <%= modal_button_tag 'Photo', modals_path(action: :add_photo), link: true %>
      </li>
      <li role='separator' class='divider'></li>
      <li>
        <%= modal_button_tag 'Video', modals_path(action: :add_video), onclick => 'upload()', link: true %>
      </li>
    </ul>
  </div>
</div>
<%= javascript_tag do %>
    function upload() {
        ga('send', 'event', 'button', 'add_video');
    }
<% end %>
